{% extends 'base.html.twig' %}

{% block body %}
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="section-heading">What we <span>do</span></h2>
                    <div class="line"></div>
                    <p class="section-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <div class="row mbxxl">
                <div class="col-lg-3 text-center">
                    <div id="circliful-web-design" data-dimension="200" data-text="70%" data-info="Web Design" data-width="10" data-percent="70" style="margin: 0 auto"></div>
                    <h3>Web Design</h3>
                </div>
                <div class="col-lg-3 text-center">
                    <div id="circliful-mobile-apps" data-dimension="200" data-text="60%" data-info="Mobile Apps" data-width="10" data-percent="60" style="margin: 0 auto"></div>
                    <h3>Mobile Apps</h3>
                </div>
                <div class="col-lg-3 text-center">
                    <div id="circliful-social-media" data-dimension="200" data-text="90%" data-info="Social Media" data-width="10" data-percent="90" style="margin: 0 auto"></div>
                    <h3>Social Media</h3>
                </div>
                <div class="col-lg-3 text-center">
                    <div id="circliful-packaging" data-dimension="200" data-text="75%" data-info="Packaging" data-width="10" data-percent="75" style="margin: 0 auto"></div>
                    <h3>Packaging</h3>
                </div>
            </div>

    <div class="row">
        <div class="col-lg-3">
            <div class="panel panel-default">
                <div class="panel-body"><strong class="text-uppercase">Panel without Heading &
                        Footer</strong><br/>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
                    laboris nisi ut aliquip ex ea commodo consequat.

                </div>
                <button type="button" class="btn btn-red btn-square">Red</button>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-primary">
                <div class="panel-heading">Heading without title</div>
                <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    <button type="button" class="btn btn-orange btn-square">Orange</button>

                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-green">
                <div class="panel-heading"><h3 class="panel-title">Panel title</h3></div>
                <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    <button type="button" class="btn btn-green btn-square">Green</button>
                    <button type="button" class="btn btn-yellow btn-square">Yellow</button>
                    <button type="button" class="btn btn-blue btn-square">Blue</button>
                    <button type="button" class="btn btn-violet btn-square">Violet</button>
                    <button type="button" class="btn btn-pink btn-square">Pink</button>
                    <button type="button" class="btn btn-grey btn-square">Grey</button>
                    <button type="button" class="btn btn-dark btn-square">Dark</button>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-orange">
                <div class="panel-heading"><i class="fa fa-paper-plane-o"></i>&nbsp;
                    Heading with Icon
                </div>
                <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </div>
            </div>
        </div>
    </div>
            <div class="row">
                <div class="col-lg-6">
                    <div id="owl-about1" class="owl-carousel owl-theme">
                        <div class="item"><img src="http://swlabs.co/images/upload/1.jpg" alt="" class="img-responsive" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div id="accordion-support" class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion-support" href="#collapseOne"><i class="fa fa-tablet fa-fw"></i>Full Responsive Layout</a></h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="panel-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati.</div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion-support" href="#collapseTwo"><i class="fa fa-comments-o fa-fw"></i>Free Support & Updates</a></h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion-support" href="#collapseThree"><i class="fa fa-code fa-fw"></i>Clean Modern Code</a></h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse">
                                <div class="panel-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    <div class="row">
        <div class="col-lg-4">
            <div class="portlet box portlet-pink">
                <div class="portlet-header">
                    <div class="caption">Default</div>
                    <div class="tools"><i class="fa fa-chevron-up"></i><i data-toggle="modal"
                                                                          data-target="#modal-config"
                                                                          class="fa fa-cog"></i><i
                                class="fa fa-refresh"></i><i class="fa fa-times"></i></div>
                </div>
                <div class="portlet-body"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Vestibulum tincidunt nulla elit, at sollicitudin ipsum mattis quis. Vivamus vitae diam
                        at libero fringilla condimentum. Vestibulum laoreet nulla ut neque eleifend, ut
                        hendrerit felis mollis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                        posuere cubilia Curae; Etiam congue, risus ac tincidunt ultrices, nunc enim consectetur
                        purus, vitae faucibus dolor turpis ut justo. Duis id feugiat sem, ac commodo nisi.
                        Curabitur tincidunt volutpat nisi id ullamcorper.</p>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt nulla
                        elit, at sollicitudin ipsum mattis quis. Vivamus vitae diam at libero fringilla
                        condimentum. Vestibulum laoreet nulla ut neque eleifend, ut hendrerit felis
                        mollis.</p></div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="portlet box color portlet-primary">
                <div class="portlet-header">
                    <div class="caption">Colors</div>
                    <div class="actions"><a href="#" class="btn btn-white btn-sm"><i class="fa fa-edit"></i>&nbsp;
                            Edit</a>&nbsp;
                        <div class="btn-group">
                            <button type="button" data-toggle="dropdown"
                                    class="btn btn-default btn-sm dropdown-toggle"><i
                                        class="fa fa-user"></i>&nbsp;
                                User
                                &nbsp;<span class="caret"></span></button>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="#"><i class="fa fa-pencil"></i>&nbsp;
                                        Edit</a></li>
                                <li><a href="#"><i class="fa fa-trash-o"></i>&nbsp;
                                        Delete</a></li>
                                <li><a href="#"><i class="fa fa-refresh"></i>&nbsp;
                                        Update</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="portlet-body"><p>Pellentesque augue dui, tempus nec consequat bibendum,
                        facilisis non nulla. Aliquam ac mollis libero, vel mattis ligula. Aenean viverra metus
                        ligula, ut rhoncus tortor vulputate vitae. Quisque rhoncus tempus dignissim. Curabitur
                        nisl augue, gravida in dignissim sed, imperdiet vitae nibh.</p>

                    <p>Aliquam ac mollis libero, vel mattis ligula. Pellentesque augue dui, tempus nec
                        consequat bibendum, facilisis non nulla. Aliquam ac mollis libero, vel mattis
                        ligula. Aenean viverra metus ligula Pellentesque augue dui, tempus nec consequat
                        bibendum, facilisis non nulla. Aliquam ac mollis libero, vel mattis ligula. Aenean
                        viverra metus ligula, ut rhoncus tortor vulputate vitae. Quisque rhoncus tempus
                        dignissim. Curabitur nisl augue, gravida in dignissim sed, imperdiet vitae nibh.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="portlet box portlet-yellow">
                <div class="portlet-header">
                    <div class="caption">Scroll</div>
                    <div class="tools"><i class="fa fa-chevron-up"></i><i data-toggle="modal"
                                                                          data-target="#modal-config"
                                                                          class="fa fa-cog"></i><i
                                class="fa fa-refresh"></i><i class="fa fa-times"></i></div>
                </div>
                <div style="overflow: hidden;" class="portlet-body">
                    <div class="portlet-scroll"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Vestibulum tincidunt nulla elit, at sollicitudin ipsum mattis quis. Vivamus vitae
                            diam at libero fringilla condimentum. Vestibulum laoreet nulla ut neque eleifend, ut
                            hendrerit felis mollis. Vestibulum ante ipsum primis in faucibus orci luctus et
                            ultrices posuere cubilia Curae; Etiam congue, risus ac tincidunt ultrices, nunc enim
                            consectetur purus, vitae faucibus dolor turpis ut justo. Duis id feugiat sem, ac
                            commodo nisi. Curabitur tincidunt volutpat nisi id ullamcorper.</p>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt
                            nulla elit, at sollicitudin ipsum mattis quis. Vivamus vitae diam at libero
                            fringilla condimentum. Vestibulum laoreet nulla ut neque eleifend, ut hendrerit
                            felis mollis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                            posuere cubilia Curae; Etiam congue, risus ac tincidunt ultrices, nunc enim
                            consectetur purus, vitae faucibus dolor turpis ut justo. Duis id feugiat sem, ac
                            commodo nisi. Curabitur tincidunt volutpat nisi id ullamcorper.</p>

                        <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                            Curae; Etiam congue, risus ac tincidunt ultrices, nunc enim consectetur purus,
                            vitae faucibus dolor turpis ut justo. Duis id feugiat sem, ac commodo nisi.
                            Curabitur tincidunt volutpat nisi id ullamcorper.</p></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
{#<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #icon-book { display: none; }

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }
</style>#}
{% endblock %}
